*, *::before, *::after {
  box-sizing: border-box;
  font-size: 18px;
  color: white;
  font-family: Arial;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #B86DBC;
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: #a801b3;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
    float: left;
  margin-left: -4000px;
    margin-top: 570px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin-top: 20px;
}

.btn {
  background-color: #5c0762;
  border: 1px solid hsl(296, 87%, 21%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
}


