img {
  width: 340px;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: #b406b5;
}

.header {
  background-color: #b406b5;
  height: 130px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.header p {
  font-family: arial;
  font-size: 18px;
  color: #fff;
  padding-bottom: 4px;
}

.header h2 {
  font-family: 'Arial', sans-serif;
  font-size: 30px;
  color: #ffffff;
}

.interface {
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #b406b5;
}

.interface a {
  display: flex;
  flex-wrap: nowrap;
}

.interface img {
  width: 340px;
  height: 340px;
}

.img-weapon {
  width: 340px !important;
  height: 340px !important;
}

.interface div {
  width: 220px;
  padding: 0 10px 0 20px;
  background-color: #7d077e;
}

.interface a:hover div {
  background-color: #3c1d3d;
}

.interface h3 {
  font-family: 'Arial', sans-serif;
  font-size: 22px;
  color: #f800ef;
  padding: 12px 0 4px;
}

.interface p {
  font-family: arial;
  font-size: 12px;
  color: #ffffff;
  line-height: 20px;
}

.btn-prefight {
  width: 100% !important;
}

.actions {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.actions a {
  width: 33.33%;
  padding: 10px 0px;
  text-align: center;
  font-size: 14px;
  font-family: arial;
  color: #1b1b1b;
}

.actions a:nth-of-type(1) {
  background-color: #e389d1;
}

.actions a:nth-of-type(2) {
  background-color: #e6ce47;
}

.actions a:nth-of-type(3) {
  background-color: #6de647;
}

.actions a:hover {
  opacity: 0.9;
}



.food {
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #7d077e;
}

.food a {
  display: flex;
  flex-wrap: nowrap;
}

.food img {
  width: 340px;
  height: 340px;
}

.food div {
  width: 200px;
  padding: 0 10px 0 20px;
  background-color: #7d077e;
}

.food a:hover div {
  background-color: #7d077e;
}

.food h3 {
  font-family: 'Arial', sans-serif;
  font-size: 22px;
  color: #f800ef;
  padding: 12px 0 4px;
}

.food p {
  font-family: arial;
  font-size: 12px;
  color: #ffffff;
  line-height: 20px;
}